body {
    margin: 0;
    padding: 0;
    background-color: #0b0c10; 
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 60px 10%;
    min-height: 400px;
}


#kid-mikey {
    background: linear-gradient(to bottom, #0d121a, #202b3c);
}

#toman-leader {
    background: linear-gradient(to bottom, #202b3c, #3b2314);
    flex-direction: row-reverse;
}

#bonten-don {
    background: linear-gradient(to bottom, #3b2314, #191424);
}

#dark-impulsivity {
    background: linear-gradient(to bottom, #191424, #0a0303); 
    flex-direction: row-reverse; 
}


.text {
    max-width: 500px;
    color: #ffffff;
}

.text p {
    line-height: 1.6;
    font-size: 1.1rem;
    margin: 0;
}

.text h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 15px; 
}

#bonten-don img{
    object-fit: fill;
}

.highlight {
    color: #f6ad55; 
    font-weight: bold;
}


img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

img:hover {
    transform: scale(1.04); 
    box-shadow: 0 10px 25px rgba(246, 173, 85, 0.2); 
    cursor: pointer;
}



@media (max-width: 786px) {
    section {
        flex-direction: column;
    }
    #toman-leader {
        flex-direction: column;
    }
    #dark-impulsivity {
        flex-direction: column;
    }
    img {
        order: -1; 
    }
}